/* Base Styles */
body {
    background-color: #f5f5f5; 
    font-family: 'Roboto Mono', monospace; 
    color: #212121;
}

/* Card Styles */
.card {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 40px;
    width: 425px;
    min-height: 425px;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-dashboard {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header Styles */
.card-header {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #212121;
    background: none;
    border: none;
    padding: 20px 0 0 0;
}

.header-content {
    display: flex;
    align-items: column;
    justify-content: center;
    gap: 25px;
}

.header-logo {
    width: 50px; 
    height: 50px;
}

.header-text {
    font-size: 1rem;
    font-weight: 500;
}

.logo-container {
    margin-bottom: 10px;
}

/* Form Styles */
form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group-password {
    margin-bottom: 30px;
}

.form-control {
    background: none; 
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
    color: #212121; 
    padding: 10px 5px;
    width: 100%;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.form-control:hover {
    transform: scale(1.02);
}

.form-control:focus {
    background: none; 
    box-shadow: none;
    border-bottom: 1px solid #007bff; 
    color: #212121; 
    transform: scale(1.02);
}

.form-control::placeholder {
    color: #666; 
}

/* Button Styles */
.btn-custom-primary {
    background-color: #1D2840;
    color: #ffffff;
    border: none;
    width: 90%;
    padding: 8px;
    transition: all 0.3s ease;
    font-size: 0.8rem;
    display: block;
    margin: 0 auto;
}

.btn-custom-primary:hover {
    background-color: #1D2840;
    color: #ffffff;
    transform: scale(1.05);
}

.btn-register-passkey {
    background-color: #1D2840;
    border: none;
    color: #ffffff; 
    width: 65%;
    padding: 8px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.9rem;
    display: block;
    margin: 0 auto 20px;
}

.btn-register-passkey:hover {
    background-color: #1D2840;
    color: #ffffff;
    cursor: pointer;
}

.btn-logout {
    background-color: #dc3545; 
    border: none;
    color: #ffffff; 
    width: 75%;
    padding: 8px;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

.btn-logout:hover {
    background-color: #c82333; 
}

/* Link Styles */
.register-link, .login-link {
    color: #666; 
    font-size: 0.8rem;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.register-link:hover, .login-link:hover {
    color: #444;
    transform: scale(1.05);
}

/* Alert Styles */
.alert {
    margin-top: 20px;
    padding: 15px;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.alert-danger {
    background-color: #dc3545;
    font-size: 0.7rem;
}

.alert-success {
    background-color: #027811; 
    font-size: 0.7rem;
}

/* Dashboard Profile Styles */
.profile-container {
    margin: 2px 0 5px;
    padding: 2px;
}

.dashboard-profile {
    max-width: 100%;
    height: auto;
    border-radius: 1px;
    width: 150px;
}

/* User Info Styles */
.user-info-container {
    width: 80%;
    margin: 15px 0;
    padding: 5px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 4px 0;
    border-bottom: 1px solid #eee;
}

.info-label {
    font-weight: 500;
    color: #666;
    font-size: 0.70rem;
}

.info-value {
    color: #212121;
    font-size: 0.70rem;
}

/* Text Utility */
.text-muted {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.5px 0;
}